<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/Scripts/bootstrap")

    <script>
        $(function () {
            $("#datepicker").datepicker(
                {

                }

             );


            $("#chamarPanel").on('click', function () {
                $.Dialog({
                    overlay: true,
                    shadow: true,
                    flat: true,
                    width: '800px',
                    height: '400px',
                    position: 'center',
                    title: 'Teste de Flats',
                    content: '',
                    onShow: function (_dialog) {
                        var content = _dialog.children('.content');

                        $.get('Principal/PartialTeste', function (result) {
                            content.html(result);
                        });
                    }
               });
             });
           })

    </script>


</head>
<body class="metro ">
    <div class="grid fluid">
        <div class="navigation-bar bg-lightBlue fixed-top larguramenu grid fluid">


            <div class="metro tile-area user-id">
                <div class="user-id-image">
                    <span class="icon-user no-display1"></span>
                    <img src="images/Battlefield_4_Icon.png" class="no-display">
                </div>
                <div class="user-id-name">
                    <span class="first-name">Daivid</span>
                    <span class="last-name">Paulo</span>
                </div>
            </div>


        </div>

        <div class="container-large shadow larguramenu2 grid fluid">

            @RenderBody()

        </div>

        <div class="fixed-bottom active grid fluid">

            <nav class="navigation-bar bg-dark fixed-bottom">
                <nav class="navigation-bar-content">
                    <a class="element brand" href="#"><span class="icon-home"></span></a>
                    <a class="element brand" href="#"><span class="icon-printer"></span></a>
                </nav>
            </nav>

        </div>

    </div>
   
   




</body>
</html>
